/* General App Layout */
.app {
  display: flex;  
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
  
}

/* Sidebar Styling */
.sidebar {  
  padding: 10px;
  background-color: red;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;/* Add a slight shadow for separation */
}

/* Canvas Styling */
.canvas {
  flex-grow: 1;
  background-color: red;
  height: 100%; 
  position: relative;
  display: flex;  
  padding: 20px;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
  margin: 5px;

}

/* ConfigPanel Styling */
.config-panel {
  width: 25%; /* Takes up one part of the container */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.close-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  background: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

